<html>
 <head> </head>
 <body>
	<h1>Edit Book</h1>
	Name:
	<form action="{{url_for('editBook', book_id = book_id)}}" method = 'POST'>
		<input type='text' size='30' name='ename'>
		<input type='submit' value='Create'>
	</form>
</body>
</html>