<html>
	<head> </head>
	<body>
		<h1> BOOKS </h1>
		<p>
			{% if books == [] %}
				<p> No books exist </p>
			{% else %}
				{% for i in range(num) %}
					
					<div>
						{{books[i].title}}<br>
						<a href = "{{url_for('editBook', book_id = i+1)}}"> Edit Book </a> <br>
						<a href = "{{url_for('deleteBook', book_id = i+1)}}"> Delete Book </a>




						<br> <br>						
					</div>
				{% endfor %}
			{% endif %}

	</body>

</html>


